@font-face {
    font-family: "Taviraj-Regular";
    src: url('../assets/fonts/Taviraj-Regular.ttf');
}

@font-face {
    font-family: "Taviraj-ExtraBold";
    src: url("../assets/fonts/Taviraj-ExtraBold.ttf");
}

@font-face {
    font-family: "Taviraj-Italic";
    src: url("../assets/fonts/Taviraj-Italic.ttf");
}


*{
    
   font-family: "Taviraj-Regular";
   line-height: 1.2em;
    box-sizing: border-box;
}

body{
    margin:0px;
    padding:0px;
}

h1{
    font-family: "Taviraj-ExtraBold", serif;
    font-size:32px;
}

.header, .hero, .infoContainer, .quote, .callToSection{
    max-width:1200px;
    /*border:2px solid white;*/
    margin: 0 auto;
}

.heroHeaderSection{
    background-color: #1F2937;
    color:white;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:16px;
    margin-bottom: 64px;
}

.logo{
    font-family: "Taviraj-ExtraBold", serif;
}

.hero{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    
}

.heroContent{
    display:flex;
    flex-direction:column;
    max-height:400px;
    max-width: 400px;
    
}
.h1Hero{
    
    font-size:48px;
    color: #F9FaF8;
    margin:5px;
}
.heroParagraph{
    
    font-size:24px;
    color:#F9FAF8;

}
.signUp{
    width:fit-content;
    height:fit-content;
    padding:8px;
    
}

.imgPlaceholder{
    width:640px;
    height:360px;
    background-color: gray;
    margin-bottom:32px;
}

ul{
    display: flex;
    list-style: none;
    gap:16px;
}

a{
    text-decoration: none;
    color:white;
}

.infoContainer{
    text-align:center;
    margin: 64px auto;
}

.infoH1{
    padding:16px;
}

.infoContent{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.info{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:200px;
}

.infoPic{
    width: 200px;
    height: 200px;
    border: 2px solid #0a6ffc;
    border-radius: 25px;
}

.quoteSection{
    background-color: #E5E7EB;
    padding:128px;
    font-size:32px;
}

.quote{
    font-family: "Taviraj-Italic", italic; 
}

.quoteAuthor{
    text-align: right;
    font-family:"Taviraj-ExtraBold"
}



.callToAction{
    background-color: #3882f6;
    border:2px #3882f6 solid;
    border-radius:25px;
    margin: 32px;
    padding: 64px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    color:#F9FAF8;

}

.footer{
    text-align: center;
    padding:32px;
    background-color: #1F2937;
    color:#F9FAF8;
}